body {
  background-color : #82ffff;
  font-style: italic;
  color: rgb(89, 7, 136);

  }
img {
  height: 170px;
}
.boxConfirmed{
  font-size: 1.5rem  ;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 8px;
  padding: 10px;
  border-radius: 10px;
  border-width: px;
  border-color: rgb(89, 7, 136);
  border-style: solid;
  font-weight: bold;
  background-color:rgb(224, 255, 45);
}

.boxDeaths{
  font-size: 1.5rem  ;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 8px;
  padding: 10px;
  border-radius: 10px;
  border-width: px;
  border-color: rgb(89, 7, 136);
  border-style: solid;
  font-weight: bold;
  background-color:rgb(243, 30, 30);
}

.boxRecovered{
  font-size: 1.5rem  ;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 8px;
  padding: 10px;
  border-radius: 10px;
  border-width: px;
  border-color: rgb(89, 7, 136);
  border-style: solid;
  font-weight: bold;
  background-color:rgb(76, 255, 52);
}

.box{
  display: flex;
  align-items: left;
  justify-content: left;
}
.tablePositif{
  border-style: double;
  text-align: center;
  background-color:rgb(224, 255, 45);
  font-style: italic;
}
.tableMeninggal{
  border-style: double;
  text-align: center;
  background-color:rgb(233, 52, 45);
  font-style: italic;
}
.tableSembuh{
  border-style: double;
  text-align: center;
  background-color:rgb(76, 255, 52);
  font-style: italic;
}